<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
  <link href="../static/favicons/7745-images-favicon.png" rel="icon">
  <title>Apna Waqeel - Coming Soon </title>
  <meta name="keywords" content="legal, apna waqeel, pakistan law, AI, legal research">
  <meta name="robots" content="index, follow">

  <!-- Web Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
    type="text/css">

  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="../static/css/css-bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/css-all.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup-magnific-popup.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/css-stylesheet.css">
  <link id="color-switcher" rel="stylesheet" type="text/css" href="../static/css/css-color-yellow.css">
</head>

<body>

  <!-- Preloader -->
  <div class="preloader preloader-dark">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- Preloader End -->

  <!-- Document Wrapper -->
  <div id="main-wrapper" class="bg-dark">

    <!-- Header -->
    <header id="header">
      <!-- Navbar -->
      <nav class="primary-menu navbar navbar-expand-md navbar-text-light bg-transparent border-bottom-0">
        <div class="container position-relative">
          <div class="col-auto col-lg-2">
            <!-- Logo -->
            <a class="logo" href="#" title="Apna Waqeel">
              <img src="../static/images/Main logo.svg" alt="Apna Waqeel Logo" height="40vh" width="100vw"
                style="margin-top: 2vh;">
            </a>
            <!-- Logo End -->
          </div>
          <div class="col navbar-accordion px-0">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
              data-bs-target="#header-nav"><span></span><span></span><span></span></button>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->
    </header>
    <!-- Header End -->

    <div class="container py-4 py-lg-0">
      <div class="row min-vh-100">

        <!-- Coming Soon Information -->
        <div class="col-lg-8 align-items-center d-flex flex-column py-5">
          <div class="row py-5 my-auto text-center text-lg-start">
            <div class="col-12 mx-auto">
              <h1 class="text-9 bg-primary d-inline-block fw-700 rounded px-3 py-2 mb-4">Coming Soon!</h1>
              <h2 class="text-15 text-white fw-600 mb-4">Revolutionizing Legal Research with AI.</h2>
            </div>
            <div class="col-md-8 col-lg-9 col-xl-8 mx-auto me-lg-auto ms-lg-0">
              <p class="text-5 text-light mb-3">Get notified when we launch and be among the first to experience our
                premium features.</p>
              <!-- Subscribe Form -->
              <div class="subscribe-form">
                <form class="form-dark" action="{{ url_for('subscribe') }}" role="form" method="post">
                  <div class="input-group">
                    <input type="email" id="subscribe-form-email" name="subscribe-form-email"
                      class="form-control border-dark required email" required placeholder="Enter Your Email Here..">
                    <button id="subscribe-form-submit" name="subscribe-form-submit"
                      class="btn btn-primary px-4 shadow-none submit-button" type="submit"><span
                        class="d-none d-sm-block">Notify
                        Me</span><span class="text-4 d-block d-sm-none"><i
                          class="fas fa-arrow-right"></i></span></button>
                  </div>
                </form>
                <div class="subscribe-form-result mt-3"></div>
              </div>
              <!-- Subscribe End -->
            </div>
          </div>
        </div>
        <!-- Coming Soon Information End -->

        <!-- Contact Us -->
        <div class="col-lg-4 my-auto py-lg-5">
          <div class="row bg-dark-2 rounded shadow-md text-center mx-0 py-4 mb-4 mb-lg-0">
            <div class="col-11 mx-auto">
              <h3 class="fw-600 text-white mb-3 mt-3">Contact Us</h3>
              <p class="text-muted mb-4">For customer support, send us a note.</p>
              <!-- Contact Form -->
              <form id="contact-form" class="form-dark" action="{{ url_for('contact') }}" method="post">
                <div class="mb-3">
                  <input id="name" name="name" type="text" class="form-control border-2" placeholder="Enter Your Name"
                    required>
                </div>
                <div class="mb-3">
                  <input id="email" name="email" type="email" class="form-control border-2"
                    placeholder="Enter Your Email" required>
                </div>
                <div class="mb-3">
                  <textarea id="form-message" name="form-message" class="form-control border-2" rows="2"
                    placeholder="Enter Your Query" required></textarea>
                </div>
                <div class="d-grid mt-4">
                  <button id="submit-btn" class="btn btn-primary" type="button">Send Message</button>
                </div>
                <div id="success-message" class="mt-3"></div>
              </form>
            </div>
          </div>
        </div>
        <!-- Contact Us End -->
      </div>
    </div>
  </div>
  <!-- Document Wrapper End -->

  <!-- About Popup -->
  <div id="about" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-600 text-7 mx-auto">About Us</h5>
          <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
          <p class="lead text-center">We're a digital agency based in the USA. We combine our passion for design focused
            on people with advanced development technologies. Thousands of clients have procured exceptional results
            while working with our dedicated team.</p>
          <div class="row">
            <div class="col-lg-4">
              <div class="featured-box text-center">
                <div class="featured-box-icon text-primary"> <i class="far fa-thumbs-up"></i></div>
                <h4 class="fw-600">Why Choose Us</h4>
                <p class="text-3">We provide top-notch services with a focus on customer satisfaction and innovative
                  solutions.</p>
              </div>
            </div>  
            <div class="col-lg-4">
              <div class="featured-box text-center">
                <div class="featured-box-icon text-primary"> <i class="far fa-paper-plane"></i></div>
                <h4 class="fw-600">Our Mission</h4>
                <p class="text-3">To revolutionize the digital landscape with cutting-edge solutions and unparalleled
                  service.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="featured-box text-center">
                <div class="featured-box-icon text-primary"> <i class="far fa-eye"></i></div>
                <h4 class="fw-600">Our Vision</h4>
                <p class="text-3">To be a global leader in digital innovation and customer-centric solutions.</p>
              </div>
            </div>
          </div>

          <hr class="my-5">

          <!-- Recent Work -->
          <!-- <h3 class="text-center my-5">Some of our most recent projects.</h3>
          <div class="portfolio popup-img-gallery">
            <div class="row g-4">
              <div class="col-sm-6 col-lg-4">
                <div class="portfolio-box rounded">
                  <div class="portfolio-img rounded">
                    <img class="img-fluid d-block" src="../static/images/images-intro-bg-2.jpg"
                      alt="Project Title Image 1">
                    <div class="portfolio-overlay">
                      <a class="popup-img stretched-link" href="../static/images/intro-bg-2.jpg"></a>
                      <div class="portfolio-overlay-details">
                        <h5 class="text-white fw-400">Project Title</h5>
                        <span class="text-light">Category</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="portfolio-box rounded">
                  <div class="portfolio-img rounded">
                    <img class="img-fluid d-block" src="../static/images/images-intro-bg-3.jpg" alt="Project Title Image 2">
                    <div class="portfolio-overlay">
                      <a class="popup-img stretched-link" href="../static/images/intro-bg-3.jpg"></a>
                      <div class="portfolio-overlay-details">
                        <h5 class="text-white fw-400">Project Title</h5>
                        <span class="text-light">Category</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="portfolio-box rounded">
                  <div class="portfolio-img rounded">
                    <img class="img-fluid d-block" src="../static/images/images-intro-bg-4.jpg" alt="Project Title Image 3">
                    <div class="portfolio-overlay">
                      <a class="popup-img stretched-link" href="../static/images/intro-bg-4.jpg"></a>
                      <div class="portfolio-overlay-details">
                        <h5 class="text-white fw-400">Project Title</h5>
                        <span class="text-light">Category</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="portfolio-box rounded">
                  <div class="portfolio-img rounded">
                    <img class="img-fluid d-block" src="../static/images/images-intro-bg-5.jpg" alt="Project Title Image 4">
                    <div class="portfolio-overlay">
                      <a class="popup-img stretched-link" href="../static/images/intro-bg-5.jpg"></a>
                      <div class="portfolio-overlay-details">
                        <h5 class="text-white fw-400">Project Title</h5>
                        <span class="text-light">Category</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="portfolio-box rounded">
                  <div class="portfolio-img rounded">
                    <img class="img-fluid d-block" src="../static/images/images-intro-bg-6.jpg" alt="Project Title Image 5">
                    <div class="portfolio-overlay">
                      <a class="popup-img stretched-link" href="../static/images/intro-bg-6.jpg"></a>
                      <div class="portfolio-overlay-details">
                        <h5 class="text-white fw-400">Project Title</h5>
                        <span class="text-light">Category</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="portfolio-box rounded">
                  <div class="portfolio-img rounded">
                    <img class="img-fluid d-block" src="images/images-intro-bg.jpg" alt="Project Title Image 6">
                    <div class="portfolio-overlay">
                      <a class="popup-img stretched-link" href="images/intro-bg.jpg"></a>
                      <div class="portfolio-overlay-details">
                        <h5 class="text-white fw-400">Project Title</h5>
                        <span class="text-light">Category</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- About Popup End -->

  <!-- Styles Switcher -->
  <div id="styles-switcher" class="left">
    <h5>Color Switcher</h5>
    <hr>
    <ul class="mb-0">
      <li class="blue" data-bs-toggle="tooltip" title="Blue (Default)" data-path="#"></li>
      <li class="indigo" data-bs-toggle="tooltip" title="Indigo" data-path="css/color-indigo.css"></li>
      <li class="purple" data-bs-toggle="tooltip" title="Purple" data-path="css/color-purple.css"></li>
      <li class="cyan" data-bs-toggle="tooltip" title="Cyan" data-path="css/color-cyan.css"></li>
      <li class="pink" data-bs-toggle="tooltip" title="Pink" data-path="css/color-pink.css"></li>
      <li class="red" data-bs-toggle="tooltip" title="Red" data-path="css/color-red.css"></li>
      <li class="teal" data-bs-toggle="tooltip" title="Teal" data-path="css/color-teal.css"></li>
      <li class="green" data-bs-toggle="tooltip" title="Green" data-path="css/color-green.css"></li>
      <li class="yellow" data-bs-toggle="tooltip" title="Yellow" data-path="css/color-yellow.css"></li>
      <li class="orange" data-bs-toggle="tooltip" title="Orange" data-path="css/color-orange.css"></li>
    </ul>
    <button class="btn switcher-toggle"><i class="fas fa-cog"></i></button>
  </div>
  <div class="modal fade" id="contactThankYouModal" tabindex="-1" aria-labelledby="contactThankYouModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactThankYouModalLabel">Thank You!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your message has been sent successfully. We will get back to you soon.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Styles Switcher End -->

  <!-- Script -->
  <script src="../static/js/jquery-jquery.min.js"></script>
  <script src="../static/js/js-bootstrap.bundle.min.js"></script>
  <!-- <script src="../static/js/magnific-popup-jquery.magnific-popup.min.js"></script> -->
  <!-- <script src="../static/js/jquery-form-jquery.form.min.js"></script> -->
  <!-- <script src="../static/js/jquery-validation-jquery.validate.min.js"></script> -->
  <script src="../static/js/7889-js-theme.js"></script>
  <!-- Style Switcher -->
  <script src="../static/js/9140-js-switcher.min.js"></script>
  <script>
    document.getElementById('subscribe-form').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission

      const formData = new FormData(this);
      fetch('/subscribe', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          if (data.message) {
            // Clear the email field
            document.getElementById('subscribe-form-email').value = '';

            // Display the thank you modal
            $('#thankYouModal').modal('show');
          } else {
            // If email is invalid, show error
            console.log('Invalid email');
            alert('Please enter a valid email address');
          }
        })
        .catch(error => console.error('Error:', error));
    });

    document.getElementById('contact-form').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission

      const formData = new FormData(this);
      fetch('/contact', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          if (data.message) {
            // Clear the input fields
            document.getElementById('name').value = '';
            document.getElementById('email').value = '';
            document.getElementById('form-message').value = '';
            // Display the success message
            document.getElementById('success-message').innerHTML = data.message;
          } else {
            // If there is an error, show an alert
            alert('There was an error sending your message. Please try again.');
          }
        })
        .catch(error => console.error('Error:', error));
    });
  </script>
</body>

</html>